/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Arsenal:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,400;1,400&display=swap');

/* Colour palette */
:root {
    --primary-font: "Archivo Narrow", sans-serif;
    --secondary-font: "Arsenal", sans-serif;
    --accent-font: "Fira Sans", sans-serif;
    --baby-powder: #f7f7f2ff;
    --dark-spring-green: #2c6e49ff;
    --cambridge-blue: #9dbbaeff;
    --gunmetal: #2a2d34ff;
}

/* Global styles */

.navbar {
    font-family: var(--primary-font);
    color: var(--gunmetal);
    background-color: var(--cambridge-blue);
    box-shadow: 0 1px 1px var(--dark-spring-green);
}

body {
    font-family: var(--secondary-font);
    color: var(--baby-powder);
    background-color: var(--baby-powder);
}

mark {
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    color: var(--gunmetal);
    background-color: var(--baby-powder);
}

.custom-button {
    color: var(--gunmetal);
}

.custom-button:hover {
    color: var(--dark-spring-green);
}

.btn {
    border: solid 2px var(--gunmetal);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
}

.btn:hover {
    border: solid 2px var(--dark-spring-green);
}

.navbar .active {
    color: var(--baby-powder);
    background-color: var(--dark-spring-green);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.navbar-nav .btn {
    margin: 0 0.5rem;
}

.section {
    padding-top: 4rem; /* prevent navbar overlap */
}

.custom-corners {
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    border: 2px solid var(--baby-powder);
}

.white-btn {
    border: solid 2px var(--baby-powder);
    color: var(--baby-powder);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

/* Header styles */

#intro {
    background-color: var(--gunmetal);
}

#intro p {
    font-family: var(--accent-font);
}

header h1 {
    line-height: inherit;
}

/* Main styles */

main {
    background-color: var(--gunmetal)
}

#hero {
    background-image: url("../images/server-rack.webp");
    background-color: var(--gunmetal);
    background-position: 30% 50%;
    background-size: cover;
    padding: 0 0 5% 5%;
    background-blend-mode: screen;
}

#hero #hero-img {
    border-radius: 50%;
}

/* Contact page styles */

#contact-img {
    mix-blend-mode: screen;
    max-width: 100%;
}

/* input:focus {
    outline: none;
} 
    
Attempt made to remove the default blue shadow around the (focussed) input fields of the form on the contact page. */

/* Footer styles */

footer {
    font-family: var(--primary-font);
    color: var(--gunmetal);
    background-color: var(--cambridge-blue);
}

.social-link {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.5rem;
}

/* Media Queries */

@media screen and (min-width: 280px) {
    #hero-img {
        height: 90vw;
        width: 90vw;
        margin-bottom: 25px;
        max-width: 325px;
        max-height: 325px;
    }

    #intro p {
        margin: 5% 5%;
    }
}

@media screen and (min-width: 768px) {
    #intro p {
        margin: 2% 2%;
    }
}