/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Arsenal:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,400;1,400&display=swap');

/* Colour palette */
:root {
    --primary-font: "Archivo Narrow", sans-serif;
    --secondary-font: "Arsenal", sans-serif;
    --accent-font: "Fira Sans", sans-serif;
    --baby-powder: #f7f7f2ff;
    --dark-slate-gray: #305252ff;
    --cambridge-blue: #70a37fff;
    --onyx: #373e40ff;
}

/* Global styles */

.navbar {
    font-family: var(--primary-font);
    color: var(--onyx);
    background-color: var(--baby-powder);
    box-shadow: 0 1px 1px var(--dark-slate-gray);
}

body {
    font-family: var(--secondary-font);
    color: var(--baby-powder);
    background-color: var(--baby-powder);
}

mark {
    color: var(--onyx);
    background-color: var(--baby-powder);
}

.custom-button {
    color: var(--onyx);
}

.custom-button:hover {
    color: var(--cambridge-blue);
}

.btn {
    border: solid 2px var(--onyx);
    
}

.btn:hover {
    border: solid 2px var(--cambridge-blue);
}

.navbar .active {
    color: var(--baby-powder) !important;
    background-color: var(--dark-slate-gray);
}

.navbar-nav .btn {
    margin: 0 0.5rem;
}

.section {
    padding-top: 4rem; /* prevent navbar overlap */
}

.sharp-corners, .sharp-corners * {
    border-radius: 0;
}

.white-btn {
    border: solid 2px var(--baby-powder);
    color: var(--baby-powder);
}

/* Header styles */

#intro {
    background-color: var(--onyx);
}

#intro p {
    font-family: var(--accent-font);
}

header h1 {
    line-height: inherit;
}

/* Main styles */

main {
    background-color: var(--onyx)
}

#hero {
    background-image: url("../images/server-rack.webp");
    background-color: var(--onyx);
    background-position: 30% 50%;
    background-size: cover;
    padding: 0 0 5% 5%;
    background-blend-mode: screen;
}

#hero #hero-img {
    border-radius: 50%;
}

/* Contact page styles */

#contact-img {
    height: auto;
    width: 100%;
    background: url(../images/merlin-in-norway.webp) no-repeat center center / cover;
    position: relative;
}

#cover-text {
    background-color: rgba(55, 62, 64, .6);
    position: relative;
}

/* input:focus {
    outline: none;
} 
    
Attempt made to remove the default blue shadow around the (focussed) input fields of the form on the contact page. */

/* Footer styles */

footer {
    color: var(--baby-powder);
    background-color: var(--dark-slate-gray);
}

footer h1 {
    font-family: var(--secondary-font);
}

footer .custom-button {
    color: var(--baby-powder);
}

.social-link {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.5rem;
}

footer mark {
    color: var(--dark-slate-gray);
    background-color: var(--baby-powder);
}

/* Media Queries */

@media screen and (min-width: 280px) {
    #hero-img {
        height: 90vw;
        width: 90vw;
        margin-bottom: 25px;
        max-width: 325px;
        max-height: 325px;
    }

    #intro p {
        margin: 5% 5%;
    }
}

@media screen and (min-width: 768px) {
    #intro p {
        margin: 2% 2%;
    }
}